<!DOCTYPE html>
<html>
  <head>
    <title><%= firstname %> <%= lastname %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>You're on the page of <%= firstname %> <%= lastname %></h1>
    <p>Firstname: <%= firstname %></p>
    <p>Lastname: <%= lastname %></p>
    <p>Birthplace: <%= born %></p>
    <p>Age: <%= age %></p>
    <p>Animals: <%= animals %></p>
  </body>
</html>
