<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BlackBoard</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navbar -->
    <%- include('header'); %>
  
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include('sidebar'); %>

      <div id="content-wrapper">

        <div class="container-fluid">

          <div class="card mb-3">
            <div class="card-header">
            <i class="fas fa-users"></i>
            Liste des clients</div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="users-list" class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Prénom</th>
                      <th>Nom</th>
                      <th>email</th>
                      <th>password</th>
                      <th>Age</th>
                      <th>Sexe</th>
                      <th>Date inscription</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Prénom</th>
                      <th>Nom</th>
                      <th>email</th>
                      <th>password</th>
                      <th>Age</th>
                      <th>Sexe</th>
                      <th>Date inscription</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <%
                    for(var i=0; i<users.length; i++){
                      %>
                    <tr>
                      <td><%= users[i].firstName %></td>
                      <td><%= users[i].firstName %></td>
                      <td><%= users[i].firstName %></td>
                      <td><%= users[i].password
                        .split("")
                        .map((e) => "*")
                        .join("") %></td>
                      <td><%= users[i].age %></td>
                      <td><i class="fas <%= users[i].gender == "male"? "fa-male":"fa-female" %>"></i></td>
                      <td><%= dateFormat(users[i].dateInsert) %></td>
                    </tr>

                    <%
                  }
                  %>
                    <!-- <tr>
                      <td>Zoe</td>
                      <td>Millo</td>
                      <td>zomil@hotmail.com</td>
                      <td>*******</td>
                      <td>31</td>
                      <td><i class="fas fa-female"></i></td>
                      <td>15/01/2011</td>
                    </tr>
                    <tr>             -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>


        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Blackboard</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->



    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>


  </body>

</html>
